
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Jquery needs to be loaded first before the bootstrap  -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link th:href="@{/css/book.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/book.js}"></script>
</head>
<!------ Include the above in your HEAD tag ---------->

<body>
	<div class="container">
		<div class="row">
			<h2>本の登録</h2>
			<div class="col-md-10">
				<form action="#" th:action="@{/books/register}" method="post"
					th:object="${book}">
					<div class="form-group">
						<label for="title">本のタイトル名：</label> <input type="text"
							class="form-control" id="title" th:field="*{title}"
							placeholder="Book title">
					</div>
					<div class="form-group">
						<label for="author">本の作者：</label> <input type="text"
							class="form-control" id="author" th:field="*{author}"
							placeholder="Author">
					</div>
					<button type="submit" class="btn btn-primary"　id="register">登録する</button>
					<a th:href="@{/books}" class="btn btn-info btn-lg" id="back">ホームページに戻る</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>


